settings_local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Translations
*.mo
*.pot

# Miscellaneous
*.swp
*.csv
*.xlsx

# Pyenv
.python-version
